@import "tailwindcss";

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  transition: background-color 0.3s ease;
}
@import "tailwindcss";

@theme {
  --color-background: white;
  --color-foreground: black;
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-background: black;
    --color-foreground: white;
  }
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-foreground);
  background-color: var(--color-background);
}